<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Add Hostel Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="/css/variables.css" rel="stylesheet">
  <!-- <link href="/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">


</head>

<body>

    <%- include('./common/header'); %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Add Hostel Details</h2>
          <ol>
            <li><a href="/home">Home</a></li>
            <li>Add Hostel Details</li>
          </ol>
        </div>
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container">
            <form action="/AddHostel"  method="post" enctype="multipart/form-data" class="row g-3">
               <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Name of The Hostel</label>
                  <input type="text" name="HostelName" class="form-control" id="inputEmail4" placeholder="Name of The Hostel">
                </div>
               <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Address </label>
                  <input type="text" name="address" class="form-control" id="inputPassword4" placeholder="Address">
                </div>
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">Hostel Description</label>
                  <textarea type="text" name="description" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"></textarea>
                </div>
                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input type="text" class="form-control" name="city" id="inputCity">
                </div>
                <div class="col-md-4">
                  <label for="inputState" class="form-label">State</label>
                    <input type="text" class="form-control" name="state" id="inputState">
                </div>
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Near by College Name</label>
                  <input type="text" class="form-control" id="inputZip" name="college">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Owners Name</label>
                    <input type="text" name="OwnerName" class="form-control" id="inputAddress" placeholder="Owner Name">
                  </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Owner Email</label>
                    <input type="email"  name="OwnerEmail" class="form-control" id="inputEmail4" >
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Mobile</label>
                    <input type="phone" class="form-control" id="inputPassword4" name="OwnerPhone">
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Latitude</label>
                    <input type="text" class="form-control" placeholder="18.5204303" id="inputPassword4" name="Latitude">
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Longitude</label>
                    <input type="text" class="form-control" placeholder="15.804303" id="inputPassword4" name="Longitude">
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Additional Information</label>
                    <textarea type="text" name="AdditionalInfo" class="form-control" id="inputAddress" placeholder=""></textarea>
                  </div>
                  <div class="col-md-4">
                    <label for="inputPassword4" class="form-label">Upload Images</label>
                    <input type="file" class="form-control" id="inputPassword4" name="Images" multiple>
                  </div> 
                
                 <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Check me out
                      </label>
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>
        </div>
    </section><!-- End Blog Section -->

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section class="inner-page">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Add Hostel Details</h2>
          <p>Only Visible to Property Owner</p>
        </div>


      </div>
    </section><!-- End Inner Page -->

  </main><!-- End #main -->

  <%- include('./common/footer'); %>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>