<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inner Page - HeroBiz Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="/css/variables.css" rel="stylesheet">
  <!-- <link href="/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('./common/header'); %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Add Details</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Hostel Details</li>
          </ol>
        </div>
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8">

            <div class="row gy-4 posts-list">
              <%hostel.forEach(function (item) {%>
              <div class="col-lg-6">
                <article class="d-flex flex-column">

                  <div class="post-img">
                    <img src="https://media.istockphoto.com/photos/dormitory-room-in-the-modern-hostel-picture-id910999556?b=1&k=20&m=910999556&s=170667a&w=0&h=8Ppqwt74V-aaXr4vN2iu5XOv87H0nhJh64am-0bYPLc="+ alt="" class="img-fluid">
                  </div>

                  <h2 class="title">
                    <a href=""><%=item.Name.S%></a>
                  </h2>

            

                  <div class="content">
                    <p>
                      Avialable for all the students of Pune.
                    </p>
                  </div>

                  <div class="read-more mt-auto align-self-end">
                    <form action="/getFullDetail" method="get">
                      <input type="text" value="<%=item.Name.S%>" Name="id" hidden>
                    <button type="submit" >Read More</button></form>
                  </div>

                </article>
              </div>
     
                    
              <%})%>

            </div><!-- End blog posts list -->

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="">3</a></li>
              </ul>
            </div><!-- End blog pagination -->

          </div>

          <div class="col-lg-4">

            <div class="sidebar">

              <div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form action="" class="mt-3">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

         
              <div class="sidebar-item tags">
                <h3 class="sidebar-title">Tags</h3>
                <ul class="mt-3">
                  <li><a href="#">Hostels</a></li>
                  <li><a href="#">Medium Range</a></li>
                  <li><a href="#">Expensive </a></li>
                  <li><a href="#">Affordable</a></li>
                  <li><a href="#">Best</a></li>

                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End Blog Sidebar -->

          </div>

        </div>

      </div>
    </section><!-- End Blog Section -->

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section class="inner-page">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Inner Page</h2>
          <p>Example inner page template</p>
        </div>

        <p>
          You can duplicate this page and create any number of pages you like!
        </p>

      </div>
    </section><!-- End Inner Page -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('./common/footer'); %>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>