<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>FindMeHostel</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- Variables CSS Files. Uncomment your preferred color scheme -->
    <link href="/css/variables.css" rel="stylesheet">
    <link href="/css/variables-blue.css" rel="stylesheet">
    <!-- <link href="/css/variables-green.css" rel="stylesheet"> -->
    <!-- <link href="/css/variables-orange.css" rel="stylesheet"> -->
    <!-- <link href="/css/variables-purple.css" rel="stylesheet"> -->
    <!-- <link href="/css/variables-red.css" rel="stylesheet"> -->
    <!-- <link href="/css/variables-pink.css" rel="stylesheet">

   Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">


</head>
<style>
    .mybox {
        border-radius: 10px;
        border: 1px solid rgb(169, 169, 169);
        padding: 30px;
        margin: 50px;
        font-family: var(--font-secondary);
    }

    .mybox:hover {
        box-shadow: 10px 10px #f5f5f5;
    }

    .glowing-border {
        border: 2px solid #dadada;
        border-radius: 7px;
    }

    .glowing-border:hover {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }
</style>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top" data-scrollto-offset="0">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="/img/logo.png" alt=""> -->
                <h1>FindMeHostel<span></span></h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>

                    <li class="dropdown"><a href="#"><span>Home</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <!-- <ul>
              <li><a href="index.html" class="active">Home 1 - index.html</a></li>
              <li><a href="index-2.html">Home 2 - index-2.html</a></li>
              <li><a href="index-3.html">Home 3 - index-3.html</a></li>
              <li><a href="index-4.html">Home 4 - index-4.html</a></li>
            </ul> -->
                    </li>

                    <li><a class="nav-link scrollto" href="index.html#about">About</a></li>
                    <li><a class="nav-link scrollto" href="index.html#services">Features</a></li>
                    <li><a class="nav-link scrollto" href="index.html#portfolio">Hostels</a></li>
                    <li><a class="nav-link scrollto" href="index.html#team">Team</a></li>
                    <!-- <li><a href="blog.html">Blog</a></li> -->
                    <!-- <li class="dropdown megamenu"><a href="#"><span>Mega Menu</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li>
                <a href="#">Column 1 link 1</a>
                <a href="#">Column 1 link 2</a>
                <a href="#">Column 1 link 3</a>
              </li>
              <li>
                <a href="#">Column 2 link 1</a>
                <a href="#">Column 2 link 2</a>
                <a href="#">Column 3 link 3</a>
              </li>
              <li>
                <a href="#">Column 3 link 1</a>
                <a href="#">Column 3 link 2</a>
                <a href="#">Column 3 link 3</a>
              </li>
              <li>
                <a href="#">Column 4 link 1</a>
                <a href="#">Column 4 link 2</a>
                <a href="#">Column 4 link 3</a>
              </li>
            </ul>
          </li> -->
                    <li class="dropdown"><a href="#"><span>Locations</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="#">Pune</a></li>
                            <li><a href="#">Mumbai</a></li>
                            <li><a href="#">Nagpur</a></li>
                            <li><a href="#">Satara</a></li>
                            <li><a href="#">Ahmednagar</a></li>
                            <li><a href="#">Nanded</a></li>
                            <li><a href="#">Karad</a></li>
                            <li><a href="#">Aurangabad</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle d-none"></i>
            </nav><!-- .navbar -->

            <a class="btn-getstarted scrollto" href="index.html#about">Login</a>

        </div>
    </header><!-- End Header -->
    <!-- hero section -->
    <section class="hero-animated d-flex">
        <div class="mybox">
            <div class="container-fluid h-custom">
                <form action="/signup" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Full Name</label>
                            <input name="name" type="text" class="form-control" id="inputEmail4" placeholder="Full Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input id="password" name="password"   type="password" onkeyup='check();' class="form-control" id="inputPassword4"
                                placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Confirm Password</label>
                        <input id="cpassword" name="cpassword" type="password" onkeyup='check();' class="form-control" id="inputAddress"
                            placeholder="Retype Password" required>
                            <span id='message'></span>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2"> College/University </label>
                        <input name="college" type="text" class="form-control" id="inputAddress2"
                            placeholder="Enter Your College Name">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Mobile No</label>
                            <input name="mobile" type="phone" class="form-control" id="inputCity">
                        </div>
                        <!-- <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div> -->
                        <div class="form-group col-md-2">
                            <label class="inputCity" for="inlineFormCustomSelect">Choose Roles</label>
                            <select name="role" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Select Your Role</option>
                                <option value="Student">Student</option>
                                <option value="Hostel Owner">Hostel Owner</option>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="form-group col-md-8">
                                <input hidden>

                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        
                </form>
            </div>

        </div>
    </section>

<script>
    var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('cpassword').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
</script>

<%- include('./common/footer'); %>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

</body>

</html>